.contacts {
  @include tablet {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 45px;
    gap: 36px;

    > div {
      width: 434px;
      padding-top: 55px;

      @include desktop {
        width: 767px;
        padding-top: 132px;
      }
    }
  }

  @include desktop {
    gap: 144px;
  }

  img {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    color: var(--color-black);
    margin-bottom: 50px;
    text-align: center;

    @include tablet {
      position: absolute;
      top: 45px;
      left: 295px;
      margin-bottom: 0;
    }

    @include desktop {
      font-size: 48px;
      top: 48px;
      left: 701px;
    }
  }

  &__text {
    font-size: 14px;
    text-align: center;
    color: var(--text-color-gray);
    margin-bottom: 30px;

    @include tablet {
      text-align: left;
    }

    @include desktop {
      font-size: 20px;
      width: 654px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      gap: 6px;
    }

    @include desktop {
      gap: 30px;
    }

    label {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__input {
    margin-bottom: 20px;
    padding: 17px 27px;
    border-radius: 5px;
    width: 234px;
    font-size: 12px;
    border: 1px solid var(--text-color-gray);
    color: var(--text-color-gray);

    @include tablet {
      width: 227px;
      margin-bottom: 0;
    }

    @include desktop {
      font-size: 16px;
      line-height: 1.875;
      width: 365px;
      padding: 18px 29px;
      border-radius: 10px;
    }
  }

  &___btn {
    @include button;
    padding: 19px 110px;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      font-size: 13px;
      padding: 14px 39px;
      margin-left: 0;
      margin-right: 0;
    }

    @include desktop {
      font-size: 20px;
      padding: 19px 106px;
      border-radius: 10px;
    }
  }
}
