.footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 30px;
  border-top: 1px solid #c4c4c4;

  @include tablet {
    flex-direction: row;
    padding-bottom: 39px;
    padding-top: 39px;
  }

  @include desktop {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  &__logo {
    @include logo;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;

    @include tablet {
      margin: 0;
      font-size: 30px;
    }

    @include desktop {
      font-size: 36px;
    }
  }

  &__list {
    display: flex;
    margin-right: auto;
    margin-left: auto;

    @include tablet {
      margin-right: 0;
      align-items: center;
    }

    @include desktop {
      gap: 80px;
    }
  }

  &__item {
    display: flex;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.455;
    color: var(--text-color-gray);

    span {
      display: block;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background: var(--text-color-gray);
      margin: 7px 4px;

      @include desktop {
        display: none;
      }
    }

    @include tablet {
      font-size: 13px;
    }

    @include desktop {
      font-size: 24px;
    }
  }
}
