.header {
  padding-top: 30px;
  padding-bottom: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo {
    @include logo;

    @include tablet {
      font-size: 30px;
    }

    @include desktop {
      font-size: 36px;
    }
  }

  @include tablet {
    padding-top: 39px;
    padding-bottom: 39px;
  }

  @include desktop {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.menu-open {
  margin-left: auto;
  background: none;
  border: none;

  @include desktop {
    display: none;
  }
}
