.hero {
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    @include tablet {
      width: 330px;
    }

    @include desktop {
      width: 540px;
    }
  }

  &__img {
    margin-bottom: 16px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: var(--color-black);
    margin-bottom: 20px;

    span {
      display: inline-block;
    }

    @include tablet {
      position: relative;
      text-align: left;
      font-size: 36px;
      line-height: 1.25;
      margin-bottom: 25px;
      width: 310px;
    }

    @include desktop {
      font-size: 64px;
      width: 500px;
      margin-bottom: 40px;
    }
  }

  &__text {
    font-size: 14px;
    text-align: center;
    color: var(--text-color-gray);
    margin-bottom: 33px;

    @include tablet {
      font-size: 16px;
      text-align: left;
    }

    @include desktop {
      font-size: 24px;
      margin-bottom: 60px;
    }
  }

  &__btn {
    @include button;
    font-size: 16px;
    padding: 17px 99px;
    margin-right: auto;
    margin-left: auto;

    @include tablet {
      font-size: 18px;
      padding: 18px 67px;
      margin-left: 0;
    }

    @include desktop {
      font-size: 36px;
      padding: 22px 113px;
      border-radius: 10px;
    }
  }

  @include tablet {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
  }

  @include desktop {
    gap: 144px;
  }
}

.bulb {
  @include tablet {
    position: absolute;
    width: 72px;
    height: 72px;
    background-image: url(/images/768/light-bulb-min.png);
    bottom: 0;
    right: 0;

    @include retina {
      background-image: url(/images/768/light-bulb-2x-min.png);
    }
  }

  @include desktop {
    width: 120px;
    height: 120px;
    bottom: 50px;
    background-image: url(/images/1600/bulb-icon-min.png);

    @include retina {
      background-image: url(/images/1600/bulb-icon-2x-min.png);
    }
  }
}
