.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  @include tablet {
    background-color: rgba(7, 34, 47, 0.7);
  }

  @include desktop {
    display: flex;
    background-color: inherit;
    position: static;
  }

  &__wraper {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    height: 100%;
    width: 300px;
    background-color: var(--color-white);
    z-index: 1;
    left: -350px;
    top: 0;

    transition: left 500ms linear;

    @include tablet {
      padding: 0 39px;
    }

    @include desktop {
      position: static;
      width: 996px;
      flex-direction: row;
      padding: 0;
      margin-left: auto;
    }
  }

  &__bottom {
    border-top: 1px solid #c4c4c4;
    padding: 50px 0;

    @include tablet {
      padding: 39px 0;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      border-top: none;
      gap: 121px;
      padding: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;

    @include desktop {
      flex-direction: row;
      gap: 25px;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
    }
  }

  &__item {
    font-weight: 500;
    font-size: 22px;
    line-height: 2.95;
    color: var(--text-color-dark);
    border-radius: 5px;
    padding: 0 10px;

    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

    @include desktop {
      font-size: 20px;
      border-radius: 10px;

      transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1),
        scale 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__item:hover,
  &__item:focus {
    color: var(--color-white);
    background-color: var(--acent-color);
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);

    @include desktop {
      scale: 0.9;
      transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1),
        scale 500ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__btn {
    @include button;
    font-size: 20px;
    text-align: center;
    color: var(--color-black);
    border: 2px solid var(--text-color-dark);
    padding: 15px 101px;
    background-color: var(--color-white);
    letter-spacing: normal;

    @include desktop {
      padding: 21px 113px;
      border-radius: 10px;
    }
  }

  &__top {
    position: relative;
    padding: 30px 0;

    @include tablet {
      padding: 39px 0;
    }

    @include desktop {
      display: none;
    }
  }
}

.menu-close {
  width: 34px;
  height: 34px;
  background: var(--color-white);
  position: absolute;
  border: none;
  top: 31px;
  right: 0;

  @include tablet {
    top: 45px;
  }
}

.no-scroll {
  position: fixed;
}

.animationOpen {
  left: 0;
  transition: left 500ms linear;
}

.animationClose {
  top: -1500px;
  transition: top 500ms linear;
}
